<div class="content__boxed mt-0 p-lg-4 p-md-3">
    <div class="content__wrap px-lg-2">
       <div class="row">
        <div class="col-xl-12 mb-3">
            <div class="card h-100">
                <div class="card-header py-3 border-bottom d-flex align-items-center">
                    <div class="me-auto">
                        <h3 class="h4 m-0 section_title">Information Of Receipt Of Issued Petrol</h3>
                    </div>
                </div>
                <!-- Network - Area Chart -->
                <div class="card-body pt-5 pb-3">
                    <div class="col-md-11 mb-3 mx-auto">
                        <div class="row">
                            <div class="col-md-4 mb-4 position-relative">
                                <label for="" class="custom_label">Vendor</label>
                                <input type="text" class="form-control form-control-lg" placeholder="Select Vendor Name" />
                            </div>
                            <div class="col-md-4 mb-4 position-relative">
                                <label for="" class="custom_label">Product Name</label>
                                <input type="text" class="form-control form-control-lg" placeholder="Select Product  Name" />
                            </div>
                            <div class="col-md-4 mb-4 position-relative">
                                <label for="" class="custom_label">Voucher Number</label>
                                <input type="text" class="form-control form-control-lg" placeholder="Type Here" />
                            </div>
                            <div class="col-md-4 mb-4 position-relative">
                                <label for="" class="custom_label">Quantity </label>
                                <input type="text" class="form-control form-control-lg" placeholder="Type Here" />
                            </div>
                            <div class="col-md-4 mb-4 position-relative">
                                <label for="" class="custom_label">Bill Date</label>
                                <input type="date" class="form-control form-control-lg" placeholder="Type Here" />
                            </div>
                            <div class="col-md-4 mb-4 position-relative">
                                <label for="" class="custom_label">Unit Price</label>
                                <input type="text" class="form-control form-control-lg" placeholder="Type Here" />
                            </div>
                            <div class="col-md-4 mb-4 position-relative">
                                <label for="" class="custom_label">Unit Name</label>
                                <input type="text" class="form-control form-control-lg" placeholder="Type Here" />
                            </div>
                            <div class="col-md-4 mb-4 position-relative">
                                <label for="" class="custom_label">Description</label>
                                <input type="text" class="form-control form-control-lg" placeholder="Type Here" />
                            </div>
                            <div class="col-md-4 mb-4 position-relative">
                                <label for="" class="custom_label">Remarks</label>
                                <input type="text" class="form-control form-control-lg" placeholder="Type Here" />
                            </div>
                            <div class="col-md-4 mb-4 position-relative">
                                <label for="" class="custom_label">From Date</label>
                                <input type="date" class="form-control form-control-lg" placeholder="Type Here" />
                            </div>
                            <div class="col-md-4 mb-4 position-relative">
                                <label for="" class="custom_label">To Date</label>
                                <input type="date" class="form-control form-control-lg" placeholder="Type Here" />
                            </div>
                            
                            <div class="col-md-12 text-right">
                                <button class="btn btn-outline-light custom_btn ml-3">Cancel</button>
                                <button class="btn btn-primary custom_btn ml-3"> Search </button>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- END : Network - Area Chart -->

            </div>
        </div>
    </div>
</div>